/* Universal Styles */
body {
  font-family: 'Rubik', sans-serif;
  min-height: 100vh;
}

body::after {
  width: 50%;
  height: 500px;
  content: '';
  background: linear-gradient(to top,hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  position: absolute;
  z-index: -1;
  border-bottom-right-radius: 500px;
  top: 0;
  left: 0;
}

main {
  position: relative;
}

/* Chat App */
.chat-app {
  background-color: hsl(0, 0%, 100%);
  border-radius: 2rem;
  padding: .7rem;
  width: 70%;
  margin: 3rem auto;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);;
}

.chat-header {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem;
  background: linear-gradient(to right,hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  display: flex;
  align-items: center;
  padding: 2rem .75rem .75rem .75rem;
  position: relative;
}

.chat-header::after {
  content: '';
  width: 60%;
  height: 20px;
  border-radius: 500px;
  position: absolute;
  top: -10px;
  left: 20%;
  background-color: hsl(0, 0%, 100%);
}

#chat-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid hsl(0, 0%, 100%);
  margin: 0 .5rem 0 0;
}

.chat-recipient {
  color: hsl(0, 0%, 100%);
}

.chat-recipient > h2 {
  font-size: .85rem;
  font-weight: 500;
}

.availability {
  font-size: .6rem;
  color: hsl(276, 100%, 81%);
}

.chat-settings {
  margin-left: auto;
  margin-right: 0;
}

/* Chat-log */
.chat-log {
  background-color: hsl(270, 20%, 96%);
  margin-top: -16px;
  padding: 2rem .75rem .75rem .75rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.chat-message {
  border-top-left-radius: .75rem;
  border-top-right-radius: .75rem;
  padding: .6rem;
  max-width: 70%;
  width: fit-content;
  margin-bottom: .75rem;
  font-size: .6rem;
}

.left {
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .75rem;
  background-color: hsla(264, 100%, 61%, .10);
  color: hsl(276, 55%, 52%);
  margin-left: 0;
  margin-right: auto;
}

.right {
  border-bottom-left-radius: .75rem;
  border-bottom-right-radius: .25rem;
  color: hsl(271, 15%, 43%);
  margin-left: auto;
  margin-right: 0;
  background-color: hsl(0, 0%, 100%);
}

.images {
  display: flex;
  padding: 0;
  background-color: initial;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  max-width: initial;
}

.chat-message-img {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  margin-right: .75rem;
}

.chat-message-img:last-of-type {
  margin-right: 0;
}

.pricing {
  background: linear-gradient(to left, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  color: hsl(276, 100%, 81%);
  display: flex;
  align-items: center;
  width: 80%;
  max-width: none;
}

.pricing > button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid hsl(289, 100%, 72%);
  display: block;
  background-color: transparent;
  margin-right: 1rem;
}

.pricing > span:last-of-type {
  margin-right: 0;
  margin-left: auto;
  font-weight: 700;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
}

#chat-send {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 500px;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
}

#chat-send-input {
  width: 100%;
  padding: .75rem .5rem .75rem 1rem;
  border-radius: 500px;
  font-size: .6rem;
}

#chat-send-input::placeholder {
  color: hsl(206, 6%, 79%);
  background: none;
  font-size: .6rem;
}

#chat-send-input:active, #chat-send-input:focus {
  background-color: hsl(0, 0%, 100%);
  color: hsl(271, 15%, 43%);
  width: 100%;
  outline: none;
}

#chat-send > span {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: hsl(271, 36%, 24%);
  margin-right: .25rem;
}

#chat-send > span > svg {
  margin: 0 auto;
}
/* Hero Div */
.hero-div {
  text-align: center;
}

.hero-div > h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: hsl(271, 36%, 24%);
  font-weight: 500;
}

.hero-div > div {
  width: 82%;
  margin: 0 auto;
  line-height: 1.5rem;
  color: hsl(270, 7%, 64%);
}